.login-container{
    width: 700px;
}

.login-container h1{
    color: #2e8b57;
}

.login-container p{
    text-align: center;
}
.register-link{
    text-align: center;
}

.register-link a{
    text-decoration: none;
    color: #1d4ed8;
    font-weight: bold;
}

.register-link a:hover{
    text-decoration: underline;
}

.button-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
}

.login-btn,.back-btn{
    width: 180px;
    height: 45px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;


}

.login-btn{
    background: #2563eb;
    color: white;
}

.back-btn{
    background: #2563eb;  
    color: white;
}

.back-btn:hover{
    background: #1d4ed8;
}
